@media only screen and ( max-width:600px) {
    .col-s-1 {width: 8.33%; float: left;}
.col-s-2 {width: 16.66%; float: left;}
.col-s-3 {width: 25%; float: left;}
.col-s-4 {width: 33.33%; float: left;}
.col-s-5 {width: 41.66%; float: left;}
.col-s-6 {width: 50%; float: left;}
.col-s-7 {width: 58.33%; float: left;}
.col-s-8 {width: 66.66%; float: left;}
.col-s-9 {width: 75%; float: left;}
.col-s-10 {width: 83.33%; float: left;}
.col-s-11 {width: 91.66%; float: left;}
.col-s-12 {width: 100%; float: left;}

.heading{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 20px;
}
.sub-heading{
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    margin: 5px 0px;
}
.des{
    font-size: 12px;
}
#des{
    font-size: 12px;
}
p{
    font-size: 10px;
    font-weight: 300;
}
q{
    font-size: 10px;
    font-weight: 300; 
}
.heading-p{
    padding: 0 0px;
}
.underline{
    width: 20%;
    margin: 10px auto;
}
.logo-part{
    text-align: center;
}
.menu-part ul{
    text-align: center;
    padding: 5px;
}
.menu-part li{
    margin: 0 2px;
    padding: 3px;
}
.menu-part a{
    font-size: 12px;
}
.hero-part{
    padding: 70px 0px;
}
.hero-part h1{
    width: 70%;
    font-size: 20px;
    line-height: 20px;
}
.hero-part button{
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 2px;
}
.hero-part a{
    font-size: 12px;
    font-weight: 600;
}
/* service section */
.service-writting-part{
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}
.service-box-part{
    padding: 7px 0;
}
.service-box{
    padding: 0 15px;
} 
.service-box img{
    width: 60%;
    margin-bottom: 15px;
}
.team{
    padding: 10px 5px;
}
.team-writting-part{
    margin: 10px auto;
    padding: 10px;
}
.team-box{
    padding: 0 5px;
}
.team img{
    width: 50%;
    margin-bottom: 15px;
}
.team-icon{
    margin-top:10px ;
}
.team-icon i{
    font-size: 10px;
    padding: 5px;
    width: 20px;
}
.skills{
    padding: 10px;
}
.skills-writting-part{
    margin: 10px auto;
    padding: 10px;
}
.skills img{
    width: 50%;
}
.portfolio{
    background-color: #ffdd99;
    text-align: center;
    padding: 20px;
}
.portfolio-writting-part{
    margin: 10px auto;
    padding: 10px;
}
.portfolio-btn-gruop{
    margin: 10px 0px;
}
.portfolio-btn-group button{
    font-size: 10px;
    padding: 3px 5px;
    border-radius: 3px;
    margin: 0px 3px;
}
.portfolio img{
    margin: 10px;
    padding: 5px;
}
.button{
    padding: 5px 10px;
    margin: 20px;
    border-radius: 2px;
}
.button:hover{
    box-shadow: 0 0 5px #17c2a4 ;
}
.button a{
    text-transform: uppercase;
    color: #f7f3ea;
    font-size: 10px;
}
.portfolio-box{
    padding: 10px;
}
.about{
    padding: 10px;
}
.about-writting-part{
    margin: 10px auto;
    padding: 10px;
}
.about-box-writting{
    text-align: left;
    padding: 10px;
}
}
.contact{
    padding: 10px;
}
.contact-writting-part{
    margin: 10px auto;
    padding: 10px;
}
.form1 input[type="text"]{
    margin-right: 5px;
    padding: 5px;
    font-size: 10px;
}
.form2 input[type="email"]{

    padding: 5px;
    font-size: 10px;
    margin-left: 5px;
}
.contact-form2-part textarea{
    padding: 5px;
    font-size: 10px;
}
.contact-form2-part input[type="submit"]{
    font-size: 10px;
    font-weight: 400;
    padding: 5px 10px;
    margin: 30px 0;
    border-radius: 2px;
}
footer ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
    padding: 10px 0;
}
footer li a{
    font-size: 10px;
    font-weight: 400;
}


}